.bicicleta-container h2 {
    padding-top: 60px;
}

.bicicleta-lista {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    
}

.bicicleta-lista li {
    flex: 1;
    min-width: 280px;
}

.bicicleta-lista a {
    color: inherit;
}

.bicicleta-container h2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.bicicleta-lista img {
    padding-bottom: 20px;
}

.bicicleta-lista h3 {
   display: flex;
   align-items: center;
   padding-bottom: 20px;
}

.bicicleta-lista h3::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background-color: var(--cor-p1);
}

.bicicleta-lista h3:hover:before {
    width: 24px;
    transition: 0.3s;
}

.bicicleta-lista li span {
    padding-left: 20px;
    display: block;

}

@media (max-width: 800px) {

    .bicicleta-container h2 {
        font-size: 2.5rem;
    }

    .bicicleta-lista h3 {
        font-size: 1.5rem;
    }

}

@media (max-width: 300px) {

}

@media (max-width: 300px) {
    .bicicleta-container h2 {
        font-size: 2rem;
    }
}

@media (max-width: 300px) { 
    .bicicleta-container h2 {
        font-size: 1.5rem;
    }
}